.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 101;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 20px;
}

.content {
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 101;
  width: 700px;
  padding: 40px 40px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background-color: #faf7f6;
  transform: scale(0);
  transition: 0.2s all;
  @media (max-width: 992px) {
    width: 640px;
  }
  @media (max-width: 756px) {
    width: 500px;
  }
  @media (max-width: 576px) {
    width: 450px;
  }
  @media (max-width: 490px) {
    width: 350px;
  }
}

.content_active {
  transform: scale(1);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  &:hover {
    cursor: pointer;
    fill: #444;
  }
}
////////////////////////////////////////
/* Стили для обертки модального окна */
.modal-enter {
  pointer-events: none;
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  pointer-events: all;
  transition: 400ms;
}

.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 400ms;
  pointer-events: none;
}
