.book {
  width: 200px;
  margin: 0 auto;
  transition: transform 0.5s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.cover {
  height: 200px;
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
}

.title {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
}
